body {
    background: #252525;
    font: normal 13pt Arial;
    margin-top: 70px;
}

header {
    text-align: center;
}

.column {
    font-size: 13px;
    float: left;
    width: 46%;
    padding: 10px;
    height: 170px; /* Should be removed. Only for demonstration */
}

.submit {
    margin-top: 15px;
    padding: 7px;
}

section {
    background: white;
    border-radius: 10px;
    padding: 35px;
    width: 1000px;
    height: 1200px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(87, 86, 76, 0.493);
}

div {
    text-align: left;
    padding: 5px;
}

footer {
    text-align: center;
    color: #fff;
}